{% extends 'base.html' %}

{% block title %}<title>{{ product.title }}</title>{% endblock %}
{% block content %}
    <h3>Поиск</h3>
    <form action="{% url 'result' %}" method="get">
        <input name="search" type="text" placeholder="Найти...">
    </form>
    <hr>

    <a href="{% url 'details' product.pk %}"><h1>{{ product.title }}</h1></a>
    <p><img src="{{ product.img.url }}" style=" height: 200px; width: 200px"></p>
    <br><br>
    <p>{{ product.description }}</p>
    <br><br>

    <div style="display:flex; align-items:center; justify-content: center; background-color:rgb(247, 225, 215); width:150px; height:50px">
        <p style=" text-size:14px;">Заказать</p>
    </div>

{% endblock %}