{% extends 'base.html' %}

{% block title %}<title>Товары</title>{% endblock %}
{% block content %}
    <h3>Поиск</h3>
    <form action="{% url 'result' %}" method="get">
        <input name="search" type="text" placeholder="Найти...">
    </form>
    <hr>

    {% for product in object_list %}
        <h4>{{ product.title }}</h4>
        <p><img src="{{ product.img.url }}" style="height: 200px; width: 200px"></p>
        <br><br>
        <a href="{% url 'details' product.pk %}"><p>Перейти к товару</p></a>
        <hr>
    {% endfor %}

    {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                    {% if page_obj.has_previous%}
                        <a href="{{request.path}}?page={{page_obj.previous_page_number}}"><--</a>
                    {% endif %}
                    <span class="page-current">Страница {{page_obj.number}} из {{page_obj.paginator.num_pages}}.</span>
                    {% if page_obj.has_next %}
                        <a href="{{request.path}}?page={{page_obj.next_page_number}}">--></a>
                    {% endif %}
                    </span>
                </div>
            {% endif%}
    {% endblock %}
{% endblock %}